@import './variables.scss';
@import '~bulma';

html {
  background: url('~/assets/img/bg.svg');
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto,
    noto, arial, sans-serif;
  font-weight: 200;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  max-width: 1440px;
  margin: auto;
}

.footer {
  align-items: flex-end;
  right: 0;
  bottom: 0;
  left: 0;
}
